@model IEnumerable <ReviewWeb.Models.Comment>
@foreach (var item in Model)
{
    <div class="media main-comment">
        <div class="author-img">
            <img class="d-flex mr-3" src="" alt="author-img">
        </div>
        <div class="media-body">
            <div class="comment-content">
                <img class="d-flex mr-3 author-comment-img" src="img/blog-img/author-img-2.png" alt="author-img">
                <a href="#"><h5 class="mt-0 comment-author-name">@item.User.Fullname<span class="comment-date">@item.AddDate</span></h5></a>
                <p class="single-page-comment-content">@item.Content</p>

            </div>
        </div>
    </div>
}

